SPRING_PROFILES_ACTIVE=render
SERVER_PORT=8081

SPRING_DATASOURCE_URL=jdbc:mariadb://<your-db-host>:3306/k8s_dashboard
SPRING_DATASOURCE_USERNAME=<your-db-user>
SPRING_DATASOURCE_PASSWORD=<your-db-password>

APP_CORS_ALLOWED_ORIGINS=https://<your-frontend-domain>
APP_SECURITY_FRONTEND_BASE_URL=https://<your-frontend-domain>
APP_KUBERNETES_COMMANDS_ENABLED=false

SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER_URI=https://<your-keycloak-domain>/realms/<your-realm>
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENT_ID=<your-client-id>
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENT_SECRET=<your-client-secret>
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_SCOPE=openid,profile,email
